.navbar {
  background-color: #03253c;
  overflow: hidden;
}

.logo {
  width: 80px;
  height: 80px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  margin-right: auto;
  margin-left: 1%;
}

.metamask-logo {
  width: 12%;
  height: 12%;
  border-left: 1%;
}

.metamask-button {
  width: 20%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
  background-color: green;
  border:none;
  transition: 0.1s;
  border-radius:20px;
}

.metamask-button:hover {
  background-color: rgb(5, 61, 5);
  transition: 0.1s;
  cursor: pointer;
}

.button-text {
  color: white;
  font-size: 22px;
}

body {
  background-color: #000000;
}
